

{% extends 'layout.twig' %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-4">{{title}}</h1>
  <p class="lead">{{message}}</p>
  <hr class="my-4">
  <p>Bosta Payment Platform</p>
  <a class="btn btn-primary btn-lg" href="/" role="button">Home Page</a>
</div>
{% endblock %}